/*div {*/
/*    width: 200px*/
/*}*/
/*img {*/
/*    width: 100px;*/
/*}*/
table{
    margin: auto;
    margin-top: 60px;
}
td, th{
    border: 1px solid grey;
}
th {
    cursor: pointer;
}
th:hover {
    background: yellow;
}
